# Variables AWS (Déploiement IaC)
AWS_ACCESS_KEY_ID="XXXXXXXXXXXXXXXXXXXX"
AWS_SECRET_ACCESS_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
AWS_REGION="eu-north-1"

# Variables Snowflake (Déploiement IaC)
# Format requis: ORG-ACCOUNT (ex: JYK12345-AWS_US_EAST_1) ou l'URL complète
SNOWFLAKE_ACCOUNT="ORG-ACCOUNT"
SNOWFLAKE_USER="YOUR_SNOWFLAKE_USERNAME"
SNOWFLAKE_PASSWORD="YOUR_SNOWFLAKE_PASSWORD"
# SNOWFLAKE_ROLE="ACCOUNTADMIN"
